<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>

    <p>
        As a Master's graduate from IIIT Hyderabad, I have honed my skills in problem-solving and software development. With a passion for coding, I have successfully solved over 1000+ questions across various coding platforms including LeetCode, Codeforces, and GeeksforGeeks. My expertise lies in C++ and Java, and I am currently expanding my knowledge by learning Spring. I am dedicated to continuously improving my technical abilities and staying updated with the latest industry trends.
    </p>
    <a href="/" class="home-button">Go to Home</a>
</body>
</html>